[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "==0.3.7"
numpy = "==1.16.2"
opencv-python = "==4.0.0.21"
flask-cors = "==3.0.7"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.6"
